:root {
    --wrapper-width: 1400px;
}
.container-fluid .row .ol.fs-4 {
    font-weight: bold;
}
.card-image {
    margin-left: auto;
    margin-right: auto;
}
img {
    margin-top: 30px;
    margin-bottom: 15px;
}

.card-body {
    text-align: center;
    padding-bottom: 30px;
}
.bg-main-column .container .portfolio .title {
    font-size: 2rem;
}
.my-form {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}
.bar {
    width: 10%;
    height: 0;
    margin: 7px 28px;
}
.bar-white {
    border: 1px solid white;
}
.bar-black {
    border: 1px solid black;
}
