:root {
    --wrapper-width: 1400px;
}
.card-image {
    margin-left: auto;
    margin-right: auto;
}
img {
    margin-top: 30px;
    margin-bottom: 15px;
}
.card-text {
    margin-bottom: 30px;
}
.card-title {
    margin-bottom: 20px;
}
.icon {
    display: flex;
    justify-content: center;
}
.card-body {
    text-align: center;
    padding-bottom: 30px;
}
.bg-main-column .container .portfolio .title {
    font-size: 2rem;
}
